 {% extends "base.html" %}
 {% block content %}
  <nav class="navbar navbar-light bg-light  justify-content-between">
    <div class="container">
      <div class="row">
        <div class="col"><i>Your Name:{{request.user.first_name}} {{request.user.last_name}}</i></div>
        <div class="col"><b>Unique ID:{{request.user.id}}</b></div>
      </div>
    </div>
    <form class="form-inline">
      <a href="/login-page/" class="btn btn-outline-success m-2" type="submit">Log-Out</a>
    </form>
  </nav>
  
    <form class="col-lg-6 col-sm-6 col-12 mx-auto card p-3 shadow-lg  m-4" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <h3>Student Entry App</h3>
            <hr>
            {% if messages %}
      <div class="alert alert-success" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
      {% endif %}
      </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Student Name</label>
          <input type="text" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="student_name">
          <div id="emailHelp" class="form-text">We'll never share your Username or Password with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Student Class</label>
          <input type="text" required class="form-control" id="exampleInputPassword1" name="student_class">
        </div>
       
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Roll Number</label>
          <input type="text" required class="form-control" id="exampleInputPassword1" name="student_roll_no">
        </div>
       
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">In-Time</label>
          <input type="date" required class="form-control" id="exampleInputPassword1" name="student_In_time">
        </div>
       
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Out-Time</label>
          <input type="date" required class="form-control" id="exampleInputPassword1" name="student_Out_time">
        </div>
       
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Upload Signature</label>
          <input type="file" required class="form-control" id="exampleInputPassword1" name="student_singnature">
        </div>
       
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Upload Photo</label>
          <input type="file" required class="form-control" id="exampleInputPassword1" name="student_image">
        </div>
       <div>
        <button type="submit" class="btn btn-success">Submit</button>
        <form class="form-inline">
          <a href="/listdata/" class="btn btn-outline-success m-2" id="entryid" type="submit">View Entry</a>
        </form>
        </div>
      </form>
      
      {% endblock %}
